@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #0C1A2D;
}

p, .media-content p {
  font-size: 18px;
  color: #697E9C;
  letter-spacing: 1px;
}

.card {
  border-radius: 15px;
  background-color: #16273F;
}

.card-image:first-child img{
  border-radius: 15px;
}

.image.is-square:hover .is-overlay {
  border-radius: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 231, 226, 0.4);
  transition: 0.2s background-color ease;
}

.image.is-square:hover img {
  z-index: 0;
}

a.title {
  color: #fff;
  display: block;
}

a.title:hover, .author:hover {
  color: #20E7E2;
}

.ethereum {
  color: #20E7E2;
}

.card-footer {
  border-top: 1px solid #697E9C;
}

.author {
  color: #fff;
}

@media screen and (min-width: 1216px){
  .column.is-offset-4-widescreen {
    margin-left: 37.5%;
  }
}
